@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: 	#f0ebeb;
    font-family: 'Cardo', serif;
} 

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

:root {
    --fonteTitulo: 'Amatic SC', cursive;
    --cor1: #225c72;
    --cor2: #AD1F1B;
    --corTexto: #777777;
}

/* MENU */

.header {
    background-color: var(--cor2);
    padding: 20px 0;
}

.header h1 {
    font-size: 3em;
    font-family: var(--fonteTitulo);
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menu-nav a {
    display: block;
    color: #fff;
    font-size: 2em;
    font-family: var(--fonteTitulo);
    padding: 10px;
}

#menu {
    display: flex;
    gap: 10px;
}

.menu-nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: var(--cor1);
}

.menu-nav a:hover::after {
    width: 100%;
    transition: .4s;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
   #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 90px;
      right: 0;
      background-color: var(--cor2);
      height: 0;
      z-index: 1000;
      transition: .4s;
      visibility: hidden;
      overflow-y: hidden;
   }

   #nav.active #menu {
       height: calc(100vh - 70px);
       visibility: visible;
       overflow-y: auto;
   }

   #menu a {
       padding: 1rem 0;
       margin: 0 1rem;
       border-bottom: 2px solid rgba(0, 0, 0,.05);
       text-align: center;
   }

   #btn-mobile {
       display: flex;
       padding: .5rem 1rem;
       font-size: 1rem;
       border: none;
       background: none;
       cursor: pointer;
       gap: .5rem;
   }

   #hamburger {
       display: block;
       border-top: 2px solid;
       width: 20px;
   }

   #hamburger::after, #hamburger::before {
       content: '';
       display: block;
       width: 20px;
       height: 2px;
       margin-top: 5px;
       background: black; 
       transition: .4s;
       position: relative;
   }

   .menu-nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin: 0 auto;
    background: var(--cor1);
}

#nav.active #hamburger {
    border-top-color: transparent;
}

#nav.active #hamburger::before {
    transform: rotate(135deg);
}

#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

.menu-nav a:hover::after {
    width:15%;
    transition: .4s;
}
}


/* SOBRE */

.sobre {
    max-width: 700px;
    margin: 0 auto;
    padding: 60px 0;
}

.sobre h2 {
    font-size: 3em;
    font-family: var(--fonteTitulo);
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.sobre p {
    font-size: 1.125em;
    color: var(--corTexto);
    line-height: 1.4;
    margin-bottom: 35px;
}

.cite {
    background-color: #e7e6e6;
    padding:25px;
    color: var(--corTexto);
    border-left: 4px solid var(--cor1);
}

/* FRASES NATALINAS */

.frases-container {
    display: flex;
    flex-wrap: wrap;
}

.frase-titulo h2 {
    font-size: 3em;
    font-family: var(--fonteTitulo);
    text-align: center;
    text-transform: uppercase;
}

.frase-titulo {
    max-width: 250px;
    border-bottom: 4px solid var(--cor2);
    margin: 60px auto;
}


.frase-item {
    display: flex;
    flex: 1 1 380px;
    background-color: #fff;
    margin: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.frase-item h3 {
    background-color: var(--cor1);
    color: #fff;
    font-family: var(--fonteTitulo);
    font-size: 2em;
    text-align: center;
    font-weight: normal;
}

.frase-item p {
    text-align: center;
    margin: 60px auto;
    max-width: 300px;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.4;
}

.frase-item span {
    display: block;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.frase-item img {
    width: 30px;
    height: 30px;
}

.frase-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    font-family: var(--fonteTitulo);
}


.frase-item a:hover {
    background:  #777777;
    transition: .7s;
}

/* IMAGENS NATALINAS */

.imagens-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.imagens-titulo h2{
    font-size: 3em;
    font-family: var(--fonteTitulo);
    text-align: center;
    text-transform: uppercase; 
}

.imagens-titulo {
    max-width: 270px;
    border-bottom: 4px solid var(--cor2);
    margin: 60px auto;
}

.imagens-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-right: 60px;
}

.imagens-item img {
    display: block;
    max-width: 100%;
    margin-right: 60px;
}

.imagens-info {
    display: flex;
    flex-direction: column;
}

.imagens-item h3 {
    font-size: 2em;
    display: block;
    font-family: var(--fonteTitulo);
    margin-bottom: 20px;
}

.imagens-item p {
    max-width: 280px;
    font-size: 1.125em;
    line-height: 1.4;
    color: var(--corTexto);
    margin-bottom: 20px;
}

.imagens-item a {
    background-color: var(--cor1);
    padding: 5px;
    width: 286px;
    color: #fff;
    font-size: 2em;
    font-family: var(--fonteTitulo);
    font-weight: bold;
    text-align: center;
}

/* FOOTER */